# This public repository is documentation-only.
*.exe
*.dll
*.pdb
*.lib
*.obj
*.zip
*.7z
*.rar
*.addon*
*.fx
*.fxh
*.png.cube
*.cube
*.ini
*.cs
*.xaml
*.ps1
*.py
bin/
obj/
dist/
Shaders/
Textures/
Presets/
installer/
private/

